body {
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post-current {
    border-left: 6px solid #636ee7;
}

.post-inner {
    margin-left: 10px;
    word-wrap: break-word;
}

.post-other {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #c3b8b8;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

    .container-fluid:before,
    .container-fluid:after {
        display: table;
        content: "";
    }

    .container-fluid:after {
        clear: both;
    }

.row-fluid {
    width: 100%;
    *zoom: 1;
}

    .row-fluid:before,
    .row-fluid:after {
        display: table;
        content: "";
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 28px;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

        .row-fluid [class*="span"]:first-child {
            margin-left: 0;
        }

    .row-fluid .span12 {
        width: 99.99999998999999%;
        *width: 99.94680850063828%;
    }

    .row-fluid .span11 {
        width: 91.489361693%;
        *width: 91.4361702036383%;
    }

    .row-fluid .span10 {
        width: 82.97872339599999%;
        *width: 82.92553190663828%;
    }

    .row-fluid .span9 {
        width: 74.468085099%;
        *width: 74.4148936096383%;
    }

    .row-fluid .span8 {
        width: 65.95744680199999%;
        *width: 65.90425531263828%;
    }

    .row-fluid .span7 {
        width: 57.446808505%;
        *width: 57.3936170156383%;
    }

    .row-fluid .span6 {
        width: 48.93617020799999%;
        *width: 48.88297871863829%;
    }

    .row-fluid .span5 {
        width: 40.425531911%;
        *width: 40.3723404216383%;
    }

    .row-fluid .span4 {
        width: 31.914893614%;
        *width: 31.8617021246383%;
    }

    .row-fluid .span3 {
        width: 23.404255317%;
        *width: 23.3510638276383%;
    }

    .row-fluid .span2 {
        width: 14.89361702%;
        *width: 14.8404255306383%;
    }

    .row-fluid .span1 {
        width: 6.382978723%;
        *width: 6.329787233638298%;
    }

    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid input[class*="span"],
    .row-fluid select[class*="span"],
    .row-fluid textarea[class*="span"],
    .row-fluid .uneditable-input[class*="span"] {
        float: none;
        margin-left: 0;
    }

.timestamp {
    font-style: italic;
    font-weight: lighter;
    color: #A0A0A0;
}
#users_online ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}
/*
#users_online li:before
{
    content:'\f007' ;
    font-family: "FontAwesome";
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    color:#53937c;
}*/
/* remove important once style order has been corrected*/
.well {
	border: 1px solid #85aa77 !important;
	background-color: #f6f9f6 !important;
	min-height: 460px;
	height: 460px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.btn-primary {
background-color: #e27348 !important;
background-image: -moz-linear-gradient(top, #e6905b, #e27348) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6905b), to(#e27348)) !important;
background-image: -webkit-linear-gradient(top, #e6905b, #e27348) !important;
background-image: -o-linear-gradient(top, #e6905b, #e27348) !important;
background-image: linear-gradient(to bottom, #e6905b, #e27348) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6905b', endColorstr='#ffe27348', GradientType=0) !important;
border-color: #e27348 #e27348 #e6905b !important;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
*background-color: #e27348 !important;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

@media (max-width:767px) {

	#online li {
		display: inline;
		padding-right: 15px;
	}
}