<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/64b380c5-cd70-4991-8231-3630b3eaa800/resourceGroups/Nickerbox/providers/Microsoft.Web/sites/Nickerbox</ResourceId>
    <ResourceGroup>Nickerbox</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nickerbox.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nickerbox.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Nickerbox</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Nickerbox</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CJChatEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:marewatchers.database.windows.net,1433;Initial Catalog=Nickerbox;User ID=MMAdmin@marewatchers.database.windows.net;Password=Kasie0101" Name="Data Source=tcp:marewatchers.database.windows.net,1433;Initial Catalog=Nickerbox;User Id=MMAdmin@marewatchers.database.windows.net;Password=Kasie0101;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CJChat.DataAccess.CJChatEntities, CJChat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CJChatEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.CJChat.csdl|res://*/DataAccess.CJChat.ssdl|res://*/DataAccess.CJChat.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:marewatchers.database.windows.net,1433;Initial Catalog=Nickerbox;User Id=MMAdmin@marewatchers.database.windows.net;Password=Kasie0101;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>